.root{
    -fx-background-color: #222222;
}
.text-field{
	-fx-border-color: transparent transparent #eee transparent;
}
.text-field,.button{
	-fx-padding: 1em;
	-fx-background-color: #fff;
	-fx-background-radius:0;
}
.button{
	-fx-border-width:0;
}
.button:disabled{
	-fx-opacity:1.0;
	-fx-background-color:#ddd;
}
.button:hover{
	-fx-background-color:-fx-selection-bar;
	-fx-text-fill: #ffffff;
}